*{
    margin: 0;
    padding: 0;
}

.nav2 {
    position: fixed;   
    top: 0;
    left: 0;
    height: 100vh;     
    width: 90px;      
    background-color: #ffffff; 
    border-right: 1px solid #ddd;
    z-index: 1000;     
}

.containerNav2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100%;
    padding: 20px 0;
}

.containerLinks2 ul {
    list-style: none;
    padding: 0;
    margin-top: 50px; 
    display: flex;
    flex-direction: column; 
    gap: 30px; 
}

.containerLinks2 ul li a img {
    width: 30px; 
    transition: transform 0.2s;
}

.containerLinks2 ul li a:hover img {
    transform: scale(1.1); 
}


body {
    margin-left: 90px; 
}
.novaPublicacao{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 2em;
    border-bottom: #ddd solid 1px;
    
}

.novaPublicacao h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    font-size: 2em;
    font-weight: bold;
    margin-right: 405px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
    
}

.novaPublicacao img{
    left: 0;
}

.imgContainer {
    width: 533px;
    height: auto;
    background-color: #d9d9d9; 
    border-radius: 40px;      
    overflow: hidden;         
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;     
    margin: 2em auto;         
    margin-top: 3em;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;        
}

.navEdicacao{
    display: flex;
    justify-content: center;
    margin-top:65px;
    gap: 60px;
    
}

.navEdicacao ul{
    gap: 4em;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.navEdicacao ul li img {
    width: 40px !important; 
    height: 40px !important;
    object-fit: contain; 
    display: block;
    background-color: #c7c7c7;
    padding: 5px;
    border-radius: 10px;
}


.navEdicacao ul li img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.btnCompartilhar{
    padding: 16px;
    background-color: rgb(243, 2, 53);
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    border: none;
    font-size: larger;
    
}

.btnCompartilhar:hover{
    background-color: rgb(206, 6, 56);
}

.containerBtnCompartilhar{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 1071px;
}

.containerBtnCompartilhar a{
    text-decoration: none;
    color: white;
}