*{
    margin: 0;
    padding: 0;
}

.nav2 {
    position: fixed;   
    top: 0;
    left: 0;
    height: 100vh;     
    width: 90px;      
    background-color: #ffffff; 
    border-right: 1px solid #ddd;
    z-index: 1000;     
}

.containerNav2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100%;
    padding: 20px 0;
}

.containerLinks2 ul {
    list-style: none;
    padding: 0;
    margin-top: 50px; 
    display: flex;
    flex-direction: column; 
    gap: 30px; 
}

.containerLinks2 ul li a img {
    width: 30px; 
    transition: transform 0.2s;
}

.containerLinks2 ul li a:hover img {
    transform: scale(1.1); 
}


body {
    margin-left: 90px; 
}

.pesquisa {
    display: flex;
    align-items: center; 
    background-color: #f0f0f0; 
    padding: 8px 15px;
    border-radius: 25px; 
    width: 90%; 
    margin: 2em;
}

.pesquisa img {
    width: 20px; 
    margin-right: 10px; 
    opacity: 0.6; 
    filter: grayscale(100%); 
}

.pesquisa input {
    border: none;
    background: transparent; 
    outline: none; 
    color: #555; 
    width: 100%;
}

.pesquisa input::placeholder {
    color: #888; 
}

.header-utilizador {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.perfil-container {
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    overflow: hidden;   
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.perfil-container img {
    width: 100%;
    height: 100%;
    
}

.perfil-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.categorias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    margin: 2em;
    margin-top: 0;
}

.categorias ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.categorias a{
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    color: black;
    font-weight: bold;
    
}

.categorias a:hover{
    text-decoration: underline;
    
}

.categorias a:focus{
    text-decoration: underline;
    
}

.logo{
    padding: 2px;
}

.galeria-alvenaria {
    column-width: 243.571px; 
    column-gap: 20px; 
    width: 95%;
    margin: 20px auto;
}

.galeria-alvenaria a {
    display: inline-block; 
    width: 100%;
    margin-bottom: 20px;
    text-decoration: none;
}

.galeria-alvenaria img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria-alvenaria a:hover img {
    filter: brightness(0.5);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}