*{
    margin: 0;
    padding: 0;
}

.containerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 101px;
}

.containerLinks ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.containerLinks a{
    text-decoration: none;
    color: black;
    
}

.buttonNav1{
    padding: 8px 16px;
    background-color: rgb(243, 2, 53);
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.buttonNav1:hover{
    background-color: rgb(206, 6, 56);
}

.buttonNav2{
    padding: 8px 16px;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 10px 20px;
}

.buttonNav2:hover{
    background-color: rgb(180, 180, 180);
}



.acerca{
    color: rgb(98, 98, 240) !important;
    font-weight: bold;
}

.acerca:hover{
    text-decoration: underline;
}

.cartaoFuncionalidades1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffd1d1;
}

.imgFuncionalidades1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18em;
}

.imgFuncionalidades1 img:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

.imgFuncionalidades2 img:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

.imgFuncionalidades3 img:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

.titleFuncionalidades1{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.titleFuncionalidades1 h1{
    font-size: 4.5em;
    margin-bottom: 20px;
    color: rgb(243, 2, 53);
}

.titleFuncionalidades1 p{
    font-size: 1.5em;
    margin-bottom: 20px;
    color:  rgb(243, 2, 53);
    text-align: center;
}


.cartaoFuncionalidades2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fffd92;
}

.imgFuncionalidades2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titleFuncionalidades2{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.titleFuncionalidades2 h1{
    font-size: 4.5em;
    margin-bottom: 20px;
    color: #ff914d;
}

.titleFuncionalidades2 p{
    font-size: 1.5em;
    margin-bottom: 20px;
    color:  #ff914d;
    text-align: center;
}

.cartaoFuncionalidades3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(218, 255, 246);
}

.titleFuncionalidades3{
    color: rgb(0, 107, 108);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonFuncionalidades{
    padding: 8px 16px;
    background-color: rgb(243, 2, 53);
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
}

.buttonFuncionalidades a{
    text-decoration: none;
    color: white;
}

.buttonFuncionalidades:hover{
    background-color: rgb(206, 6, 56);
}

.titleFuncionalidades3 h1{
    font-size: 4.5em;
    margin-bottom: 20px;
    text-align: center;
}

.loginsub{
    font-size: small !important;
    color: black !important;
}

.modal-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linkModalSignIn{
    color: black !important;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9rem;
}

.linkModalSignIn:hover{
    text-decoration: underline;
}

.modal-title{
    font-weight: bold;
}

.custom-btn{
    background-color: rgb(243, 2, 53) !important;
    border-radius: 10px !important;
    color: white !important;
}

.custom-btn a{
    color: white !important;
    text-decoration: none;
}

.btn-outline-dark:focus{
    background-color: black;
    color: white;
}

#categTitle{
    font-size: 3em !important;
}

#categSubtitle{
    font-size: 1.5em !important;
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.botaoCateg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.categorias {
    display: flex;
    flex-direction: column;
    gap: 12px;           
    max-width: 450px;   
    margin: 20px auto;
}


.categContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 16px 20px;
    background-color: #ffffff;
    border: 1.5px solid #e0e0e0;   
    border-radius: 14px;         
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    gap:50px;
}


.categContainer:hover {
    border-color: #d0d0d0;
    background-color: #fafafa;
}


.categContainer:has(input:checked) {
    border-color: #0066ff;        
    background-color: #f0f6ff;    
}

.textoCateg {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    flex-grow: 1;                
}


.categContainer input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #0066ff;      
    margin-left: 15px;
}