
.bodynotification {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.boxcontainer {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.notification{
    margin-bottom: 10px;
}

.notification-box {
    display: block;
    background-color: #f5f7ff;
    border-left: 5px solid #343434;
    border-radius: 8px;
    padding: 12px 14px;
    margin-bottom: 12px;
    width: 800px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.notification-header {  
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #555;
    margin-bottom: 6px;
}

.notification-name {
    font-weight: bold;
}

.notification-time {
    font-style: italic;
}

.notification-title {
    font-size: 14px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 4px;
}

.notification-text {
    font-size: 13px;
    color: #333;
}

.novaPublicacao{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 2em;
    border-bottom: #ddd solid 1px;
    
}

.novaPublicacao h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    font-size: 2em;
    font-weight: bold;
    margin-right: 405px;
    
    
}
