*{
    margin: 0;
    padding: 0;
}

.nav2 {
    position: fixed;   
    top: 0;
    left: 0;
    height: 100vh;     
    width: 90px;      
    background-color: #ffffff; 
    border-right: 1px solid #ddd;
    z-index: 1000;     
}

.containerNav2 {
    display: flex;
    flex-direction: column; /* Coloca logo e links em coluna */
    align-items: center;
    height: 100%;
    padding: 20px 0;
}

.containerLinks2 ul {
    list-style: none;
    padding: 0;
    margin-top: 50px; 
    display: flex;
    flex-direction: column; 
    gap: 30px; 
}

.containerLinks2 ul li a img {
    width: 30px; 
    transition: transform 0.2s;
}

.containerLinks2 ul li a:hover img {
    transform: scale(1.1); 
}


body {
    margin-left: 90px; 
}

.pesquisa {
    display: flex;
    align-items: center; 
    background-color: #f0f0f0; 
    padding: 8px 15px;
    border-radius: 25px; 
    width: 95%; 
    margin: 2em;
}

.pesquisa img {
    width: 20px; 
    margin-right: 10px; 
    opacity: 0.6; 
    filter: grayscale(100%); 
}

.pesquisa input {
    border: none;
    background: transparent; 
    outline: none; 
    color: #555; 
    width: 100%;
}

.pesquisa input::placeholder {
    color: #888; 
}

.header-utilizador {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.perfil-container {
    width: 300px;
    height: 300px;
    left: 0;
    margin-left: 4em;
    border-radius: 50%; 
    overflow: hidden;   
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#fotoPerfil{
    width: 100%;
    height: 100%;
}

.header-perfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 3em;
    gap: 1em;

}

.lado1{ 
    display: flex;  
    flex-direction: column;
}

#infos{
    margin-left: 6em;
    margin-top: 6em;
}

.titlePerfil{
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    margin-left: 69px;
    margin-top: 31px;
}

.bioPerfil{
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    margin-left: 69px;
}

.lado2{
    display: flex;
    flex-direction: column;
    grid-column-start: 2/3;
}

.lado2{
    margin-top: 6em;
    font-size: 20px;
    font-family: 'Arial', sans-serif;

}

.nomePerfil{
    font-size: 50px;
    margin-bottom: 1em;
}

.navPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-top: 4em;
    border-bottom: #757474 solid 1px;
    padding-bottom: 1em;
}

.navPerfil ul {
    list-style: none;
    display: flex;
    gap: 6em;
    width: 30px;
    justify-content: center;
}

.navPerfil img {
    width: 27px; 

    
}

.containerGridPerfil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    margin: 1em;
    padding: 4em;

}

.containerGridPerfil a{
    display: block; /* Links ocupam o espaço da célula */
    width: 100%;
}

.containerGridPerfil img {
    width: 100%;       /* A imagem ocupa 100% da largura da coluna */
    height: 600px;     /* Altura fixa para manter o alinhamento */
    object-fit: cover; /* Faz a imagem cortar em vez de esticar */
    border-radius: 12px;
    align-items: center;
}

.containerGridPerfil img:hover {
    filter: brightness(0.6);
}
