*{
    margin: 0;
    padding: 0;
}

.nav2 {
    position: fixed;   
    top: 0;
    left: 0;
    height: 100vh;     
    width: 90px;      
    background-color: #ffffff; 
    border-right: 1px solid #ddd;
    z-index: 1000;     
}

.containerNav2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100%;
    padding: 20px 0;
}

.containerLinks2 ul {
    list-style: none;
    padding: 0;
    margin-top: 50px; 
    display: flex;
    flex-direction: column; 
    gap: 30px; 
}

.containerLinks2 ul li a img {
    width: 30px; 
    transition: transform 0.2s;
}

.containerLinks2 ul li a:hover img {
    transform: scale(1.1); 
}


body {
    margin-left: 90px; 
}
.novaPublicacao{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 2em;
    border-bottom: #ddd solid 1px;
    
}

.novaPublicacao h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    font-size: 2em;
    font-weight: bold;
    margin-right: 405px;
    
    
}

.novaPublicacao img{
    left: 0;
}

.imgContainer {
    
    background-color: #d9d9d9; 
    width: 500px;
    height: 500px;
    border-radius: 40px; 
    margin: 5em auto;
}

.uploadBotaoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(243, 2, 53);
    color: white;
    border-radius: 3em;
    padding: 1em;
    border: none;
}

.upload:hover{
    cursor: pointer;
    background-color: rgb(187, 5, 41);
}