*{
    margin: 0;
    padding: 0;
}

.nav2 {
    position: fixed;   
    top: 0;
    left: 0;
    height: 100vh;     
    width: 90px;      
    background-color: #ffffff; 
    border-right: 1px solid #ddd;
    z-index: 1000;     
}

.containerNav2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100%;
    padding: 20px 0;
}

.containerLinks2 ul {
    list-style: none;
    padding: 0;
    margin-top: 50px; 
    display: flex;
    flex-direction: column; 
    gap: 30px; 
}

.containerLinks2 ul li a img {
    width: 30px; 
    transition: transform 0.2s;
}

.containerLinks2 ul li a:hover img {
    transform: scale(1.1); 
}


body {
    margin-left: 90px; 
    height: 100vh;
}
.novaPublicacao{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 2em;
    border-bottom: #ddd solid 1px;
    
}

.novaPublicacao h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    font-size: 2em;
    font-weight: bold;
    margin-right: 405px;
    
    
}

.novaPublicacao img{
    left: 0;
}

.imgContainer {
    width: 533px;
    height: auto;
    background-color: #d9d9d9; 
    border-radius: 40px;      
    overflow: hidden;         
    display: flex;
    justify-content: center;
    align-items: center;     
    margin: 2em auto;         
    margin-top: 3em;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;        
}

.uploadBotaoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    margin-top: 20px;
}


.input-escondido {
    display: none;
}


.upload {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 2, 53);
    color: white;
    border-radius: 3em;
    padding: 10px 25px; 
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 14px;
}

.upload:hover {
    background-color: rgb(187, 5, 41);
}

input[type="submit"].upload:hover {
    background-color: #0052cc;
}