{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}


<link rel="stylesheet" href="../static/CSS/descricaoFotos.css">

    <nav class="nav2">
        <div class="containerNav2">
            <div class="logo" >
                <a href="/feed"><img class="logo" src="../static/mg.png" alt="" width="70px"></a>
            </div>
            <div class="containerLinks2">
                <ul>
                    <li><a href="/feed" ><img src="../static/Iconografia/home.png" alt=""></a></li>
                    <li><a href="/upload" ><img src="../static/Iconografia/mais.png" alt=""></a></li>
                    <li><a href="/notificacoes" ><img src="../static/Iconografia/sinos.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="descricaoFotoContainer">
        <img src="{{ imagem.url }}" alt="" class="imagem">
        <ul class="interactions">
            <li>
                <form action="/addLike" method="post" style="display:inline;">
                    <input type="hidden" name="imageId" value="{{ imagem.id }}">
                    <button type="submit" style="background: none; border: none; cursor: pointer; padding: 0;">
                        <img src="../static/Iconografia/heart.png" alt="Like" class="like-icon">
                    </button>
                </form>
                <span>{{nmrLikes}}</span>
            </li>
            <li>
                <a href="#" id="commentBtn" onclick="toggleComment(event)"><img src="../static/Iconografia/comment.png" alt="Comment" class="comment-icon"></a>
                <span>{{nmrComentarios}}</span>
            </li>
            <li>
                <a href="#" id="saveBtn" class="buttonNav1" data-bs-toggle="modal" data-bs-target="#modalSave">
                    <img src="../static/Iconografia/save.png" alt="Save" class="save-icon">
                </a>
            </li>
        </ul>
        <div class="profile_pic">
            <img id="fotoPerfil" src="{{ profile_pic }}">
            <span id="username">{{username}}</span>
        </div>
        <div class="descricaoFoto">
            <p id="descricao">{{descricao}}</p>
        </div>
    </div>

    <div class="comentarios">
        <p>{{nmrComentarios}} Comentários</p>

        {% for comentario in comentarios %}
        <div class="comentarioContainer">
            <div class="profile_pic">
                <img id="fotoPerfil" src="{{ profile_pic }}">
            </div>
            <div class="comentario">
                <p><span id="username">{{username}}</span>{{comentario}}</p>
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="addComment">
        <form action="/addComment" method="post">
            <input type="hidden" name="imageId" value="{{ imagem.id }}">
            <input type="text" id="comentario" name="comentario" placeholder="Adicione um comentário..." required>
            <button type="submit" style="background: none; border: none; cursor: pointer; padding: 0;">
                <img src="../static/Iconografia/mais.png" alt="Publicar" width="30px">
            </button>
        </form>
    </div>

    <div class="modal fade" id="modalSave" tabindex="-1" aria-labelledby="loginTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="p-3 d-flex justify-content-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-header d-flex flex-column align-items-center">
                <h5 class="modal-title" id="loginTitle">Escolha a sua pasta</h5> <br>
            </div>

            <div class="modal-body">
                <form action="/saveToFolder" method="POST">
                    <input type="hidden" name="imageId" value="{{ imagem.id }}">
                    
                    <select name="folder_id" id="folder_id">
                        {% for folder in folders %}
                            <option value="{{ folder.id }}">{{ folder.nome }}</option>
                        {% endfor %}
                    </select>
                    
                    <div>
                        <a href="#" class="buttonNav2"  data-bs-toggle="modal" data-bs-target="#modalCreateFolder">
                            Criar Nova Pasta
                        </a>
                    </div>
                    <button type="submit" class="btn custom-btn w-100">Guardar</button>
                </form>
                
 
            </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCreateFolder" tabindex="-1" aria-labelledby="createFolderTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="p-3 d-flex justify-content-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-header d-flex flex-column align-items-center">
                <h5 class="modal-title" id="createFolderTitle">Criar Nova Pasta</h5> <br>
            </div>

            <div class="modal-body">
                <form action="/createFolder" method="POST">
                    <input type="hidden" name="imageId" value="{{ imagem.id }}">
                    <div class="mb-3">
                        <label for="folder_name" class="form-label">Nome da pasta</label>
                        <input type="text" class="form-control" id="folder_name" name="folder_name" placeholder="Nome da pasta" required>
                    </div>

                    <button type="submit" class="btn custom-btn w-100">Criar</button>
                </form>
            </div>

        </div>
    </div>

    <script>
        function toggleLike(event) {
            event.preventDefault();
            const icon = document.querySelector('.like-icon');
            icon.classList.toggle('liked');
        }

        function toggleComment(event) {
            event.preventDefault();
            const icon = document.querySelector('.comment-icon');
            icon.classList.toggle('active');
        }

        function toggleSave(event) {
            event.preventDefault();
            const icon = document.querySelector('.save-icon');
            icon.classList.toggle('saved');
        }
    </script>

{% endblock %}