{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/CSS/edicaoFotos.css">

    <nav class="nav2">
        <div class="containerNav2">
            <div class="logo" >
                <a href="/feed"><img class="logo" src="../static/mg.png" alt="" width="70px"></a>
            </div>
            <div class="containerLinks2">
                <ul>
                    <li><a href="/feed" ><img src="../static/Iconografia/home.png" alt=""></a></li>
                    <li><a href="/upload" ><img src="../static/Iconografia/mais.png" alt=""></a></li>
                    <li><a href="/notificacoes" ><img src="../static/Iconografia/sinos.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="novaPublicacao">
        <a href="/upload"><img src="../static/Iconografia/back.png" alt="" width="40px"></a>
        <h1>Nova Publicação</h1>
        
    </div>

    <div class="imgContainer">
        {% if imageURL %}
            <img src="{{imageURL}}" alt="" >
        {% else %}
            <img src="../static/Iconografia/grey.jpg" alt="" >
        {% endif %}
    </div>

    
    <nav class="navEdicacao">
                <ul>
                    <li><a href=""><img src="../static/Iconografia/crop.png" alt="" ></a></li>
                    <li><a href="" ><img src="../static/Iconografia/filter.png" alt=""  ></a></li>
                    <li><a href="" ><img src="../static/Iconografia/contrast-adjustment.png" alt="" ></a></li>
                    <li><a href="" ><img src="../static/Iconografia/flip.png" alt="" ></a></li>

                </ul>
            
    </nav>

    <div class="containerBtnCompartilhar">
        <button class="btnCompartilhar"><a href="/compartilhar/{{imageId}}">Seguinte</a></button>
    </div>
    

    
 
    
{% endblock %}