{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/CSS/feed.css">

    <nav class="nav2">
        <div class="containerNav2">
            <div class="logo" >
                <a href="/feed"><img class="logo" src="../static/mg.png" alt="" width="70px"></a>
            </div>
            <div class="containerLinks2">
                <ul>
                    <li><a href="/feed" ><img src="../static/Iconografia/home.png" alt=""></a></li>
                    <li><a href="/upload" ><img src="../static/Iconografia/mais.png" alt=""></a></li>
                    <li><a href="/notificacoes" ><img src="../static/Iconografia/sinos.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="header-utilizador">
        <div class="pesquisa">
            <img src="../static/Iconografia/lupa.png">
            <input type="text" placeholder="Pesquisar"></span>
        </div>

        <a href="/perfil" class="perfil-container">
            <img id="fotoPerfil" src="../static/default-user.jpg" alt="Perfil">
        </a>
    </div>

    <div class="categorias">
        <ul >
            <li><a href="">Tudo</a></li>
            <li><a href="">Comida</a></li>
            <li><a href="">Arte</a></li>
            <li><a href="">Decoração</a></li>
            <li><a href="">Moda</a></li>
            <li><a href="">Viagens</a></li>
            <li><a href="">Paisagens</a></li>
            <li><a href="">Animais</a></li>
        </ul>
    </div>

    <div class="galeria-alvenaria">
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake2.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake3.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake4.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake5.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake7.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake9.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake10.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake11.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake12.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake13.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake14.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake15.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake16.jpg" alt="Descrição"></a>
        <a href=""><img src="../static/Feed fake images/Imagens fake/fake17.jpg" alt="Descrição"></a>
        

            
    </div>
    
{% endblock %}