{% extends "base.html" %}

{% block title %}feed{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/CSS/feed.css">

    <nav class="nav2">
        <div class="containerNav2">
            <div class="logo" >
                <a href="/"><img class="logo" src="../static/mg.png" alt="" width="70px"></a>
            </div>
            <div class="containerLinks2">
                <ul>
                    <li><a href="/feed" ><img src="../static/Iconografia/home.png" alt=""></a></li>
                    <li><a href="/upload" ><img src="../static/Iconografia/mais.png" alt=""></a></li>
                    <li><a href="/notificacoes" ><img src="../static/Iconografia/sinos.png" alt=""></a></li>
                    {% if isAdmin %}
                    <li><a href="/admin" ><img src="../static/Iconografia/cadeado.png" alt=""></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="header-utilizador">
        <div class="pesquisa">
            <img src="../static/Iconografia/lupa.png">
            <input type="text" placeholder="Pesquisar"></span>
        </div>

        <a href="/perfil" class="perfil-container">
            <img id="fotoPerfil" src="{% if profile_pic %}{{ profile_pic }}{% else %}../static/Iconografia/grey.jpg{% endif %}" alt="Perfil">
        </a>
    </div>

    <div class="categorias">
        <ul >
            <li><a href="feed">Tudo</a></li>
            <!-- if comida is clicked call feed again but with photos that have the categoty "comida"-->
            <li><a href="feed?categoria=comida">Comida</a></li>
            <li><a href="feed?categoria=arte">Arte</a></li>
            <li><a href="feed?categoria=decoracao">Decoração</a></li>
            <li><a href="feed?categoria=moda">Moda</a></li>
            <li><a href="feed?categoria=viagens">Viagens</a></li>
            <li><a href="feed?categoria=paisagens">Paisagens</a></li>
            <li><a href="feed?categoria=animais">Animais</a></li>
            <li><a href="feed?categoria=motivacional">Motivacional</a></li>
        </ul>
    </div>

    <div class="galeria-alvenaria">
        {% for foto in fotos %}
            <a href=""><img src="{{ foto.url }}" alt="Descrição"></a>
        {% endfor %}
    </div>
    
{% endblock %}