{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/CSS/folders.css">
    <nav class="nav2">
        <div class="containerNav2">
            <div class="logo" >
                <a href="/feed"><img class="logo" src="../static/mg.png" alt="" width="70px"></a>
            </div>
            <div class="containerLinks2">
                <ul>
                    <li><a href="/feed" ><img src="../static/Iconografia/home.png" alt=""></a></li>
                    <li><a href="/upload" ><img src="../static/Iconografia/mais.png" alt=""></a></li>
                    <li><a href="/notificacoes" ><img src="../static/Iconografia/sinos.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </nav>    


    <div class="header-perfil">
        <div class="lado1">
            <div class="perfil-container">
                <img id="fotoPerfil" src="{% if profile_pic %}{{ profile_pic }}{% else %}../static/Iconografia/user.png{% endif %}" alt="Perfil">
            </div>
            
            <form action="/uploadProfilePic" method="post" enctype="multipart/form-data">
                <label for="profile_picture" class="upload-btn" style="cursor: pointer; display: block; text-align: center; margin-top: 10px;">
                    <img src="../static/Iconografia/mais.png" alt="Upload" width="30px">
                </label>
                <input type="file" name="profile_picture" id="profile_picture" style="display:none;" onchange="this.form.submit()">
            </form>

            <div class="infos">
                <h2 class="titlePerfil">{{username}}</h2><br>
                <p class="bioPerfil">Olá! Eu sou {{nome}}. <br></p>
            </div>
        </div>
        
        <div class="lado2">
            <h3 class="nomePerfil">{{nome}}</h3>
            <div class="infoPerfil">
                <p>
                    <span style="font-weight: bold;">E-mail: </span>
                    <span>{{email}}</span>
                </p> 
                <br>
    
                <p>
                    <span style="font-weight: bold;">Categorias favoritas: </span>
                        <span>{{categorias | join(', ')}}</span>
                </p> 
            </div>
            
        </div>
    </div>

    <div class="navPerfil">
        <ul>
            <a href="/perfil"><img src="../static/Iconografia/earth.png" alt=""></a>
            <a href="/upload"><img src="../static/Iconografia/mais.png" alt=""></a>
            <a href="/folders"><img src="../static/Iconografia/folder.png" alt=""></a>
            <a href="/privadas"><img src="../static/Iconografia/cadeado.png" alt=""></a>
        </ul>
    </div>

    <div class="containerGridPerfil">
        
    {% for folder in folders %}
        <div class="folder-item">
           <a href="/folder?folderId={{ folder.id }}">
               <img src="{{ folder.capa }}" alt="{{ folder.nome }}">
               <div style="display: flex; align-items: center; gap: 8px; margin-top: 10px;">
                   <img src="../static/Iconografia/folder.png" alt="" style="width: 20px; height: 20px; border-radius: unset !important;">
                   <p class="folder-name" style="margin: 0;">{{ folder.nome }}</p>
               </div>
           </a>
        </div>
    {% endfor %}
    
</div>
    


{% endblock %}