<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../static/CSS/perfil.css">
</head>
<body>
    <nav class="nav2">
        <div class="containerNav2">
            <div class="logo" >
                <a href="/Trabalho-EAD/templates/home.html"><img class="logo" src="../static/mg.png" alt="" width="70px"></a>
            </div>
            <div class="containerLinks2">
                <ul>
                    <li><a href="home.html" ><img src="../static/Iconografia/home.png" alt=""></a></li>
                    <li><a href="colagem.html" ><img src="../static/Iconografia/colagem.png" alt=""></a></li>
                    <li><a href="" ><img src="../static/Iconografia/mais.png" alt=""></a></li>
                    <li><a href="" ><img src="../static/Iconografia/sinos.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="header-utilizador">
        <div class="pesquisa">
            <img src="../static/Iconografia/lupa.png">
            <input type="text" placeholder="Pesquisar">
        </div>
    </div>

    <div class="perfil-container">
        <img id="fotoPerfil" src="../static/default-user.jpg" alt="Perfil">
    </div>

</body>
</html>