{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/CSS/perfil.css">
    <nav class="nav2">
        <div class="containerNav2">
            <div class="logo" >
                <a href="/feed"><img class="logo" src="../static/mg.png" alt="" width="70px"></a>
            </div>
            <div class="containerLinks2">
                <ul>
                    <li><a href="/feed" ><img src="../static/Iconografia/home.png" alt=""></a></li>
                    <li><a href="/upload" ><img src="../static/Iconografia/mais.png" alt=""></a></li>
                    <li><a href="/notificacoes" ><img src="../static/Iconografia/sinos.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="header-utilizador">
        <div class="pesquisa">
            <img src="../static/Iconografia/lupa.png">
            <input type="text" placeholder="Pesquisar">
        </div>
    </div>      


    <div class="header-perfil">
        <div class="lado1">
            <div class="perfil-container">
                <img id="fotoPerfil" src="{% if profile_pic %}{{ profile_pic }}{% else %}../static/Iconografia/grey.jpg{% endif %}" alt="Perfil">
            </div>
            
            <form action="/uploadProfilePic" method="post" enctype="multipart/form-data">
                <label for="profile_picture" class="upload-btn" style="cursor: pointer; display: block; text-align: center; margin-top: 10px;">
                    <img src="../static/Iconografia/mais.png" alt="Upload" width="30px">
                </label>
                <input type="file" name="profile_picture" id="profile_picture" style="display:none;" onchange="this.form.submit()">
            </form>

            <div class="infos">
                <h2 class="titlePerfil">{{username}}</h2><br>
                <p class="bioPerfil">Olá! Eu sou {{nome}}. <br></p>
            </div>
        </div>
        
        <div class="lado2">
            <h3 class="nomePerfil">{{nome}}</h3>
            <div class="infoPerfil">
                <p>
                    <span style="font-weight: bold;">E-mail: </span>
                    <span>{{email}}</span>
                </p> 
                <br>
    
                <p>
                    <span style="font-weight: bold;">Categorias favoritas: </span>
                        <span>{{categorias | join(', ')}}</span>
                </p> 
            </div>
            
        </div>
    </div>

    <div class="navPerfil">
        <ul>
            <a href="/upload"><img src="../static/Iconografia/mais.png" alt=""></a>
            <a href=""><img src="../static/Iconografia/folder.png" alt=""></a>
            <a href=""><img src="../static/Iconografia/cadeado.png" alt=""></a>
        </ul>
    </div>

    <div class="containerGridPerfil">
        
    {% for img in myImages %}
        <div>
           <a href="../templates/posts.html?id={{img.id}}"> <img src="{{ img.url }}" alt="Imagem {{ img.id }}"></a>
        </div>
    {% endfor %}

        <!-- <a href="../templates/posts.html"><img src="../static/perfil fake images/Publicas/pfake1.jpg" alt=""></a>
        <a href=""><img src="../static/perfil fake images/Publicas/pfake2.jpg" alt=""></a>
        <a href=""><img src="../static/perfil fake images/Publicas/pfake3.jpg" alt=""></a>
        <a href=""><img src="../static/perfil fake images/Publicas/pfake4.jpg" alt=""></a>
        <a href=""><img src="../static/perfil fake images/Publicas/pfake5.jpg" alt=""></a>
        <a href=""><img src="../static/perfil fake images/Publicas/pfake6.jpg" alt=""></a>
        <a href=""><img src="../static/perfil fake images/Publicas/pfake7.jpg" alt=""></a>
        <a href=""><img src="../static/perfil fake images/Publicas/pfake8.jpg" alt=""></a>
        <a href=""><img src="../static/perfil fake images/Publicas/pfake9.jpg" alt=""></a>
    </div> -->
    


{% endblock %}