{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/CSS/upload.css">

    <nav class="nav2">
        <div class="containerNav2">
            <div class="logo" >
                <a href="/feed"><img class="logo" src="../static/mg.png" alt="" width="70px"></a>
            </div>
            <div class="containerLinks2">
                <ul>
                    <li><a href="/feed" ><img src="../static/Iconografia/home.png" alt=""></a></li>
                    <li><a href="/upload" ><img src="../static/Iconografia/mais.png" alt=""></a></li>
                    <li><a href="/notificacoes" ><img src="../static/Iconografia/sinos.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="header-utilizador">
        <div class="pesquisa">
            <img src="../static/Iconografia/lupa.png">
            <input type="text" placeholder="Pesquisar">
        </div>
    </div>      


    <div class="header-perfil">
        <div class="lado1">
            <div class="perfil-container">
                <img id="fotoPerfil" src="../static/default-user.jpg" alt="Perfil">
            </div>

            <div class="infos">
                <h2 class="titlePerfil">manu_2</h2><br>
                <p class="bioPerfil">Olá! Eu sou a Manu. <br></p>
            </div>
        </div>
        
        <div class="lado2">
            <h3 class="nomePerfil">Manuela Silva</h3>
            <div class="infoPerfil">
                <p>
                    <span style="font-weight: bold;">E-mail: </span>
                    <span>manu2@gmail.com</span>
                </p> 
                <br>
    
                <p>
                    <span style="font-weight: bold;">Categorias favoritas: </span>
                    <span>Comida, Paisagens, Moda</span>
                </p> 
            </div>
            
        </div>
    </div>

    <div class="navPerfil">
        <ul>
            <a href="/upload"><img src="../static/Iconografia/mais.png" alt=""></a>
            <a href=""><img src="../static/Iconografia/folder.png" alt=""></a>
            <a href=""><img src="../static/Iconografia/cadeado.png" alt=""></a>
        </ul>
    </div>

 
 
    
{% endblock %}